[submodule "public/wp"]
	path = public/wp
	url = https://github.com/WordPress/WordPress
[submodule "public/wp-content/themes/twentysixteen"]
	path = public/wp-content/themes/twentysixteen
	url = https://github.com/WordPress/twentysixteen.git
